@import "variables.less";

.lists{

}

.list-heading{
  margin-bottom: 15px;
  font-family: @font-family-script;
  font-size: 1.2rem;
  font-weight: 700;
}

.list-item{
  margin-bottom: 15px;
  position: relative;
  &:last-child{
    margin-bottom: 0;
  }
  &::before{
    content: '-';
    position: absolute;
    left: -15px;
  }
}
