@import "variables.less";

.section{
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: column;
}

.section__header{
  width: 60%;
}

.section__content{
  width: 100%;
}

.section-title{
  font-family: @font-family-script;
  margin-bottom: 150px;
  text-align: center;
  font-size: 2.4rem;
  background: @ng-yellow;
  text-shadow: 0 3px 5px rgba(0,0,0,0.5);
  color: white;
  font-weight: 700;
  border-radius: 0 45px 45px 0;
  padding: 60px 30px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  text-transform: uppercase;
}

.section--code{
  .section-title{
    background: @ng-code;
  }
  .card__number{
    background: @ng-code;
    border-color: darken(@ng-code, 10%);
  }
  .card{
    border-color: darken(@ng-code, 10%);
  }
}

.section--architecture{
  .section-title{
    background: @ng-architecture;
  }
  .card__number{
    background: @ng-architecture;
    border-color: darken(@ng-architecture, 10%);
  }
  .card{
    border-color: darken(@ng-architecture, 10%);
  }
}

.section--accessibility{
  .section-title{
    background: @ng-accessibility;
  }
  .card__number{
    background: @ng-accessibility;
    border-color: darken(@ng-accessibility, 10%);
  }
  .card{
    border-color: darken(@ng-accessibility, 10%);
  }
}

.section--performance{
  .section-title{
    background: @ng-performance;
  }
  .card__number{
    background: @ng-performance;
    border-color: darken(@ng-performance, 10%);
  }
  .card{
    border-color: darken(@ng-performance, 10%);
  }
}

.section--security{
  .section-title{
    background: @ng-security;
  }
  .card__number{
    background: @ng-security;
    border-color: darken(@ng-security, 10%);
  }
  .card{
    border-color: darken(@ng-security, 10%);
  }
}

.section--other{
  .section-title{
    background: @ng-other;
  }
  .card__number{
    background: @ng-other;
    border-color: darken(@ng-other, 10%);
  }
  .card{
    border-color: darken(@ng-other, 10%);
  }
}
