@import "variables.less";

.section{
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: column;
}

.section__header{
  width: 60%;
  @media(max-width: @screen-xs-max){
    width: 80%;
  }
}

.section__content{
  width: 100%;
}

.section-title{
  font-family: @ngx-font-family-script;
  margin-bottom: 150px;
  text-align: center;
  font-size: 2.4rem;
  background: @ngx-color-yellow;
  text-shadow: 0 3px 5px rgba(0,0,0,0.5);
  color: white;
  font-weight: 700;
  border-radius: 0 45px 45px 0;
  padding: 60px 30px;
  //box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  text-transform: uppercase;
  @media(max-width: @screen-xs-max){
    font-size: 1.8rem;
  }
}

.section--code{
  .section-title{
    background: @ngx-color-code;
  }
  .card__number{
    background: @ngx-color-code;
    border-color: darken(@ngx-color-code, 10%);
  }
  .card{
    border-color: darken(@ngx-color-code, 10%);
  }
}

.section--architecture{
  .section-title{
    background: @ngx-color-architecture;
  }
  .card__number{
    background: @ngx-color-architecture;
    border-color: darken(@ngx-color-architecture, 10%);
  }
  .card{
    border-color: darken(@ngx-color-architecture, 10%);
  }
}

.section--accessibility{
  .section-title{
    background: @ngx-color-accessibility;
  }
  .card__number{
    background: @ngx-color-accessibility;
    border-color: darken(@ngx-color-accessibility, 10%);
  }
  .card{
    border-color: darken(@ngx-color-accessibility, 10%);
  }
}

.section--performance{
  .section-title{
    background: @ngx-color-performance;
  }
  .card__number{
    background: @ngx-color-performance;
    border-color: darken(@ngx-color-performance, 10%);
  }
  .card{
    border-color: darken(@ngx-color-performance, 10%);
  }
}

.section--security{
  .section-title{
    background: @ngx-color-security;
  }
  .card__number{
    background: @ngx-color-security;
    border-color: darken(@ngx-color-security, 10%);
  }
  .card{
    border-color: darken(@ngx-color-security, 10%);
  }
}

.section--other{
  .section-title{
    background: @ngx-color-other;
  }
  .card__number{
    background: @ngx-color-other;
    border-color: darken(@ngx-color-other, 10%);
  }
  .card{
    border-color: darken(@ngx-color-other, 10%);
  }
}
