footer.site-footer

    .container
        .row
            .col-xs-2
                .site-footer__logo

                    img(src="/components/site-footer/img/angular-shield.png")

            .col-xs-9.col-xs-offset-1
                .site-footer__content

                    h1 Want to receive a quick note when a checklist is updated?



                    h1 Looking for someone to review your Angular application?

.site-disclaimer

    .container

        .disclaimer-items
            .disclaimer-item
                i.fa.fa-twitter
                | Created by
                = ' '
                a(href="https://twitter.com/jvandemo", target="_blank") @jvandemo
            .disclaimer-item
                i.fa.fa-heart
                | Powered by
                = ' '
                a(href="https://harpjs.com", target="_blank") HarpJS
            .disclaimer-item
                i.fa.fa-heart
                | Hosted on
                = ' '
                a(href="http://surge.sh/", target="_blank") Surge
