.page.page--homepage

    .page-header

        .page-header-intro

            img.logo(src="assets/img/angular.svg")
            h1 Angular
            h2 Code Review Checklists
            p Collection of checklists you can use to perform a code review of your Angular application.

        .page-header-links

            .row

                .col-sm-3.col-sm-offset-3

                    a.btn.btn-default.btn-lg.btn-block(href="/angularjs")
                        img(src="assets/img/angularjs.png")
                        | AngularJS 1.x

                .col-sm-3

                    a.btn.btn-default.btn-lg.btn-block(href="/angular-2")
                        img(src="assets/img/angular.svg")
                        | Angular 2


