.page.page--angularjs

    .page-header
        img(src="assets/img/angularjs.png")
        h1 AngularJS 1.x
        h2 Code Review Checklist
        p Checklist you can use when you need to perform a code review of an AngularJS 1.x application.
        p Based on best-practices and recommendations by
        .header__names
            a(href="https://twitter.com/angularjs", target="_blank") @angularjs
            = ', '
            a(href="https://twitter.com/mgechev", target="_blank") @mgechev
            = ', '
            a(href="https://twitter.com/toddmotto", target="_blank") @ToddMotto
            = ', '
            a(href="https://twitter.com/John_Papa", target="_blank") @John_Papa
            = ', '
            a(href="https://twitter.com/thoughtram", target="_blank") @Thoughtram
            = ' and '
            a(href="https://twitter.com/jvandemo", target="_blank") @jvandemo


    .section.section--code

        .section__header

            .section-title Code style

        .section__content


            .cards

                .card
                    .card__number 1
                    .card__title Is all code intention-revealing?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item All code should be easy to understand for other developers
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To make sure the code can be updated, refactored and maintained by others if needed

                .card
                    .card__number 2
                    .card__title Is all code linted/hinted?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item All code should be syntactically correct
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To avoid unpredictable errors
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="http://jshint.com/", target="_blank") http://jshint.com
                            .list-item
                                a(href="http://eslint.org/", target="_blank") http://eslint.org/
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#js-hint", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#js-hint

                .card
                    .card__number 3
                    .card__title Is `controller as` syntax used?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>controllerAs</code>
                            .list-item Use <code>bindToController</code>
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Avoid pitfalls from scope soup
                            .list-item Target outer scopes easily from within inner scopes
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://toddmotto.com/digging-into-angulars-controller-as-syntax/", target="_blank") https://toddmotto.com/digging-into-angulars-controller-as-syntax/
                            .list-item
                                a(href="http://blog.thoughtram.io/angularjs/2015/01/02/exploring-angular-1.3-bindToController.html", target="_blank") http://blog.thoughtram.io/angularjs/2015/01/02/exploring-angular-1.3-bindToController.html

                .card
                    .card__number 4
                    .card__title Is DOM manipulation handled only by directives?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item DOM manipulation should only happen in directives
                            .list-item Use the element available in the directive compile and link function to manipulate the DOM
                            .list-item No DOM manipulation from controllers or services
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Angular is declarative with directives attached to elements. The directive then provides access via the compile or link element to this DOM element
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#directives", target="_blank") https://github.com/mgechev/angularjs-style-guide#directives
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y072", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y072

                .card
                    .card__number 5
                    .card__title Are names prefixed with `$ ` avoided?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Names of variables, properties and methods should not start with <code>$</code>
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item The <code>$</code> prefix is reserved for AngularJS internals
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://google.github.io/styleguide/angularjs-google-style.html", target="_blank") https://google.github.io/styleguide/angularjs-google-style.html
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#others", target="_blank") https://github.com/mgechev/angularjs-style-guide#others

                .card
                    .card__number 6
                    .card__title Is direct use of globals avoided?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Create services to wrap globals
                            .list-item Use dependency injection to inject global wrappers
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Prevents unpredictable application behavior when global is not available
                            .list-item Easier to test: allows you to mock global
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="http://jvandemo.com/how-to-properly-integrate-non-angularjs-libraries-in-your-angularjs-application/", target="_blank") http://jvandemo.com/how-to-properly-integrate-non-angularjs-libraries-in-your-angularjs-application/
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#others", target="_blank") https://github.com/mgechev/angularjs-style-guide#others

                .card
                    .card__number 7
                    .card__title Are AngularJS specific directives put after standard attributes in templates?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Put AngularJS specific directives after standard attributes
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Easier to read and maintain your code
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#markup", target="_blank") https://github.com/mgechev/angularjs-style-guide#markup

                .card
                    .card__number 8
                    .card__title Are built-in AngularJS dependencies injected before custom ones?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Inject built-in AngularJS dependencies before customer ones
                            .list-item Example: <code>function($rootScope, $timeout, MyDependency)</code>
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Easier to read and maintain your code
                            .list-item xxx
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#markup", target="_blank") https://github.com/mgechev/angularjs-style-guide#markup

                .card
                    .card__number 9
                    .card__title Are modules named correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item lowerCamelCase
                            .list-item Example: myApp
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Naming convention
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#naming-conventions", target="_blank") https://github.com/mgechev/angularjs-style-guide#naming-conventions
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y020", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y020

                .card
                    .card__number 10
                    .card__title Are controllers named correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item UpperCamelCase + Ctrl or UpperCamelCase + Controller
                            .list-item Example: MyCtrl or MyController
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Naming convention
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#naming-conventions", target="_blank") https://github.com/mgechev/angularjs-style-guide#naming-conventions
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y124", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y124

                .card
                    .card__number 11
                    .card__title Are directives named correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item lowerCamelCase
                            .list-item Example: myDirective
                            .list-item Use <code>scope</code> instead of <code>$scope</code> in link function
                            .list-item Use custom prefix to prevent name collisions with third-party libraries
                            .list-item Don’t use <code>ng</code> prefix as it is reserved for AngularJS
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Naming convention
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#naming-conventions", target="_blank") https://github.com/mgechev/angularjs-style-guide#naming-conventions
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y073", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y073
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y126", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y126

                .card
                    .card__number 12
                    .card__title Are filters named correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item lowerCamelCase
                            .list-item Example: myFilter
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Naming convention
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#naming-conventions", target="_blank") https://github.com/mgechev/angularjs-style-guide#naming-conventions

                .card
                    .card__number 13
                    .card__title Are services named correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item lowerCamelCase
                            .list-item Example: myService
                            .list-item UpperCamelCase if service is a Constructor
                            .list-item Example: MyContrstructorClassService
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Naming convention
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#naming-conventions", target="_blank") https://github.com/mgechev/angularjs-style-guide#naming-conventions
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y125", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y125

                .card
                    .card__number 14
                    .card__title Are factories named correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item lowerCamelCase
                            .list-item Example: myFactory
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Naming convention
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#naming-conventions", target="_blank") https://github.com/mgechev/angularjs-style-guide#naming-conventions

                .card
                    .card__number 15
                    .card__title Are built-in AngularJS directives used whenever possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>ng-src</code> instead of <code>src</code>, <code>ng-href</code>instead of <code>href</code>, <code>ng-style</code>instead of <code>style</code>, etc. when dynamic values are passed
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item They make sure markup remains valid, even when expression value is not available yet
                            .list-item They are well-written and tested
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#templates", target="_blank") https://github.com/mgechev/angularjs-style-guide#templates

                .card
                    .card__number 16
                    .card__title Are built-in AngularJS services used whenever possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>$</code> services provided by AngularJS whenever possible
                            .list-item Examples: <code>$timeout</code>, <code>$interval</code>, <code>$http</code>, …
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item These services are designed to work well with the <code>$digest</code> cycle
                            .list-item They are well-written and tested
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#angular--wrapper-services", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#angular--wrapper-services

                .card
                    .card__number 17
                    .card__title Is ng-cloak used to prevent content from flashing
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>ng-cloak</code> to initially hide elements that are only visible under certain conditions
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Prevents content flashing when page is loaded
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#templates", target="_blank") https://github.com/mgechev/angularjs-style-guide#templates

                .card
                    .card__number 18
                    .card__title Is console.log() avoided?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item use <code>$log</code> service
                            .list-item use <code>$log.debug()</code> to write debug messages to the console
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item allows you to turn off debug logging in production
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/api/ng/service/$log", target="_blank") https://docs.angularjs.org/api/ng/service/$log


                .card
                    .card__number 19
                    .card__title Is code minification safe?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use array notation or $inject notation or use ng-annotate
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Code will break when minified if not written in a way that supports minification
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/guide/di", target="_blank") https://docs.angularjs.org/guide/di
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#manual-annotating-for-dependency-injection", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#manual-annotating-for-dependency-injection
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#minification-and-annotation", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#minification-and-annotation

    .section.section--architecture

        .section__header

            .section-title Architecture

        .section__content

            .cards


                .card
                    .card__number 1
                    .card__title Is there a component-driven structure?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Group scripts, markup and styles by feature
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Components can easily be removed
                            .list-item Locating related files is easy
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/pub", target="_blank") https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/pub
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#directory-structure", target="_blank") https://github.com/mgechev/angularjs-style-guide#directory-structure
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y120", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y120
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y152", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y152

                .card
                    .card__number 2
                    .card__title Do directives communicate correctly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Never rely on scope inheritance e.g. <code>$scope.$parent</code>
                            .list-item Use directive controllers and <code>require</code> to let directives communicate
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item The scope hierarchy may change, breaking your code
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/guide/directive", target="_blank") https://docs.angularjs.org/guide/directive
                            .list-item
                                a(href="https://toddmotto.com/directive-to-directive-communication-with-require/", target="_blank") https://toddmotto.com/directive-to-directive-communication-with-require/

                .card
                    .card__number 3
                    .card__title Is business logic defined in services?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Business logic should be defined in services, not in controllers
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Business logic is centralized and reusable
                            .list-item Services are really easy to test
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#services", target="_blank") https://github.com/mgechev/angularjs-style-guide#services
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y035", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y035

                .card
                    .card__number 4
                    .card__title UI-Router: has a default route been configured?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>$urlRouterProvider.otherwise()</code> to specify the default route in case no route definition matches the request
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To gracefully handle requests that do not match to a route definition
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/api/ngRoute/provider/$routeProvider", target="_blank") https://docs.angularjs.org/api/ngRoute/provider/$routeProvider

                .card
                    .card__number 5
                    .card__title ngRoute: has a default route been configured?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>$routerProvider.otherwise()</code> to specify the default route in case no route definition matches the request
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item to gracefully handle requests that do not match to a route definition
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/api/ngRoute/provider/$routeProvider", target="_blank") https://docs.angularjs.org/api/ngRoute/provider/$routeProvider

                .card
                    .card__number 6
                    .card__title ngRoute: are route errors handled properly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item use a <code>$routeChangeError</code> event listener to handle routing errors
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To gracefully handle routing errors
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y112", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y112

                .card
                    .card__number 7
                    .card__title UI-Router: are state change errors handled properly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item use a <code>$stateChangeError</code> event listener to handle routing errors
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item to gracefully handle errors that occur during state transition (e.g. when a resolve fails)
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/angular-ui/ui-router/wiki#state-change-events", target="_blank") https://github.com/angular-ui/ui-router/wiki#state-change-events

                .card
                    .card__number 8
                    .card__title Are exceptions handled properly?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item decorate the <code>$exceptionHandler</code> service to handle uncaught exceptions
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To gracefully handle uncaught exceptions
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y110", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y110

                .card
                    .card__number 9
                    .card__title Are resolves used where needed?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use the <code>resolve</code> property of a route or state to load content that is immediately required in the view
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Make sure content is loaded before view is shown
                            .list-item Prevent content flashing
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#routing", target="_blank") https://github.com/mgechev/angularjs-style-guide#routing
                            .list-item
                                a(href="http://www.jvandemo.com/how-to-resolve-angularjs-resources-with-ui-router/", target="_blank") http://www.jvandemo.com/how-to-resolve-angularjs-resources-with-ui-router/
                            .list-item
                                a(href="http://www.jvandemo.com/how-to-resolve-application-wide-resources-centrally-in-angularjs-with-ui-router/", target="_blank") http://www.jvandemo.com/how-to-resolve-application-wide-resources-centrally-in-angularjs-with-ui-router/
                            .list-item
                                a(href="https://toddmotto.com/resolve-promises-in-angular-routes/", target="_blank") https://toddmotto.com/resolve-promises-in-angular-routes/
                            .list-item
                                a(href="https://johnpapa.net/route-resolve-and-controller-activate-in-angularjs/", target="_blank") https://johnpapa.net/route-resolve-and-controller-activate-in-angularjs/
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y081", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y081

    .section.section--security

        .section__header

            .section-title Security

        .section__content

            .cards

                .card
                    .card__number 1
                    .card__title Is Strict Contextual Escaping enabled?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Make sure SCE is enabled
                            .list-item Use <code>$sce</code> service to explicitly tell AngularJS which content can be marked as safe for a context
                            .list-item As of version 1.2, AngularJS ships with SCE enabled by default.
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To deal with content that can not be trusted
                            .list-item With SCE disabled, your application allows a user to render arbitrary data creating security vulnerabilities
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/api/ng/service/$sce", target="_blank") https://docs.angularjs.org/api/ng/service/$sce

                .card
                    .card__number 2
                    .card__title UI-Router: are private parts of application properly protected?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use border states to protect private areas in your application
                            .list-item Use <code>$stateChangeStart</code> event handler to control access
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To restrict access to private areas in your application
                            .list-item To make sure the states cannot be accessed by guessing the url's
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="http://jvandemo.com/how-to-use-areas-and-border-states-to-control-access-in-an-angular-application-with-ui-router/", target="_blank") http://jvandemo.com/how-to-use-areas-and-border-states-to-control-access-in-an-angular-application-with-ui-router/

    .section.section--accessibility

        .section__header

            .section-title Accessibility

        .section__content

            .cards

                .card
                    .card__number 1
                    .card__title Is ngAria included?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Include the <code>ngAria</code> module as a dependency
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To convey state or semantic information about the application for users of assistive technologies, such as screen readers
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/api/ngAria", target="_blank") https://docs.angularjs.org/api/ngAria

    .section.section--performance

        .section__header

            .section-title Performance

        .section__content

            .cards

                .card
                    .card__number 1
                    .card__title Are scripts at bottom of the document?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item <code>&lt;script&gt;</code> elements should be as low as possible in document
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Improves initial rendering speed
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://developer.yahoo.com/blogs/ydn/high-performance-sites-rule-6-move-scripts-bottom-7200.html", target="_blank") https://developer.yahoo.com/blogs/ydn/high-performance-sites-rule-6-move-scripts-bottom-7200.html
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#markup", target="_blank") https://github.com/mgechev/angularjs-style-guide#markup

                .card
                    .card__number 2
                    .card__title Are styles in HEAD?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Stylesheets should be in the document <code>&lt;head&gt;</code>
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Improves initial rendering speed
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://developer.yahoo.com/blogs/ydn/high-performance-sites-rule-6-move-scripts-bottom-7200.html", target="_blank") https://developer.yahoo.com/blogs/ydn/high-performance-sites-rule-6-move-scripts-bottom-7200.html
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#markup", target="_blank") https://github.com/mgechev/angularjs-style-guide#markup

                .card
                    .card__number 3
                    .card__title Is expensive logic avoided in filters?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Filter logic should be lightweight
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Filters are called often during <code>$digest</code> loop so if they are slow, they will slow down your application
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#filters", target="_blank") https://github.com/mgechev/angularjs-style-guide#filters
                            .list-item
                                a(href="https://toddmotto.com/use-controller-filters-to-prevent-digest-performance-issues/", target="_blank") https://toddmotto.com/use-controller-filters-to-prevent-digest-performance-issues/
                            .list-item
                                a(href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y420", target="_blank") https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y420

                .card
                    .card__number 4
                    .card__title Is filtering logic handled in controller if needed?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Filtering can be done in controller if the result is not affected by every <code>$digest</code> cycle
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To control manually when the filter should run instead of with every <code>$digest</code> cycle
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://toddmotto.com/use-controller-filters-to-prevent-digest-performance-issues/", target="_blank") https://toddmotto.com/use-controller-filters-to-prevent-digest-performance-issues/

                .card
                    .card__number 5
                    .card__title Are expensive operations cached?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Cache operations that are expensive (e.g. CPU or bandwidth intensive)
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Optimizes speed by avoiding repetition of expensive operation

                .card
                    .card__number 6
                    .card__title Are complex expressions avoided in templates?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Complex logic should be handled in controller or service
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item View expressions are evaluated many times during <code>$digest</code> cycles
                            .list-item Putting the logic in a controller or services allows you to cache the result
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#templates", target="_blank") https://github.com/mgechev/angularjs-style-guide#templates

                .card
                    .card__number 7
                    .card__title Is one-time binding used where possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code ng-non-bindable>{{ :: expression }}</code> for content that does not change after initialization
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item AngularJS will stop watching the expression as soon as it evaluates to a non-null value
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/guide/expression", target="_blank") https://docs.angularjs.org/guide/expression
                            .list-item
                                a(href="http://blog.thoughtram.io/angularjs/2014/10/14/exploring-angular-1.3-one-time-bindings.html", target="_blank") http://blog.thoughtram.io/angularjs/2014/10/14/exploring-angular-1.3-one-time-bindings.html
                            .list-item
                                a(href="http://www.bennadel.com/blog/2760-one-time-data-bindings-for-object-literal-expressions-in-angularjs-1-3.htm", target="_blank") http://www.bennadel.com/blog/2760-one-time-data-bindings-for-object-literal-expressions-in-angularjs-1-3.htm

                .card
                    .card__number 8
                    .card__title Is logic in watchers kept as simple as possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Keep computations in <code>$watch</code> as simple as possible
                            .list-item Example: watch <code>data.property</code> instead of deep watching data
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Watchers are evaluated many times during <code>$digest</code> cycles so keeping them fast results in better performance
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#performance", target="_blank") https://github.com/mgechev/angularjs-style-guide#performance

                .card
                    .card__number 9
                    .card__title Is <code>$watchCollection</code> used instead of deep watch where possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>$watchCollection</code> instead of a deep watch for collections
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item <code>$watchCollection</code> performs a shallow equality check of the result of the watched expression and its previous value, resulting in better performance
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#performance", target="_blank") https://github.com/mgechev/angularjs-style-guide#performance
                            .list-item
                                a(href="https://docs.angularjs.org/guide/scope", target="_blank") https://docs.angularjs.org/guide/scope
                            .list-item
                                a(href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$watchCollection", target="_blank") https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$watchCollection

                .card
                    .card__number 10
                    .card__title Is `$applyAsync` used when possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>$scope.$applyAsync()</code>
                            .list-item Configure <code>$httpProvider</code> to use <code>$applyAsync</code>: <code>$httpProvider.useApplyAsync(true);</code>
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To reduce number of <code>$digest</code> cycles when expressions are evaluated around the same time
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://code.angularjs.org/1.3.8/docs/api/ng/type/$rootScope.Scope#$applyAsync", target="_blank") https://code.angularjs.org/1.3.8/docs/api/ng/type/$rootScope.Scope#$applyAsync
                            .list-item
                                a(href="http://blog.thoughtram.io/angularjs/2015/01/14/exploring-angular-1.3-speed-up-with-applyAsync.html", target="_blank") http://blog.thoughtram.io/angularjs/2015/01/14/exploring-angular-1.3-speed-up-with-applyAsync.html

                .card
                    .card__number 11
                    .card__title Do timers skip `$digest` cycle when possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Pass <code>false</code> as third parameter to <code>$timeout</code> when no watched variables are impacted by its callback
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To skip unnecessary <code>$digest</code> cycles
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#performance", target="_blank") https://github.com/mgechev/angularjs-style-guide#performance
                            .list-item
                                a(href="https://docs.angularjs.org/api/ng/service/$timeout", target="_blank") https://docs.angularjs.org/api/ng/service/$timeout

                .card
                    .card__number 12
                    .card__title Are resources cleaned up when scope is destroyed?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item use <code>$scope.$on(‘$destroy’, fn)</code> to clean up resources such as timers and intervals
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item resources that are not cleaned up can chew up memory and CPU
                            .list-item every time the scope is recreated (e.g. when page is visited again and again) the problem grows bigger
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/guide/directive", target="_blank") https://docs.angularjs.org/guide/directive
                            .list-item
                                a(href="http://odetocode.com/blogs/scott/archive/2013/07/16/angularjs-listening-for-destroy.aspx", target="_blank") http://odetocode.com/blogs/scott/archive/2013/07/16/angularjs-listening-for-destroy.aspx
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#directives", target="_blank") https://github.com/mgechev/angularjs-style-guide#directives
                            .list-item
                                a(href="http://www.bennadel.com/blog/2723-unbinding-scope-on-event-handlers-in-angularjs.htm", target="_blank") http://www.bennadel.com/blog/2723-unbinding-scope-on-event-handlers-in-angularjs.htm
                            .list-item
                                a(href="http://www.bennadel.com/blog/2548-don-t-forget-to-cancel-timeout-timers-in-your-destroy-events-in-angularjs.htm", target="_blank") http://www.bennadel.com/blog/2548-don-t-forget-to-cancel-timeout-timers-in-your-destroy-events-in-angularjs.htm

                .card
                    .card__number 13
                    .card__title Are templates bundled with main JavaScript file?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Bundle your templates with your scripts using tools like grunt-html2js or gulp-html2js
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item Reduce number of network requests, especially when a large number of templates needs to be downloaded
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://github.com/mgechev/angularjs-style-guide#performance", target="_blank") https://github.com/mgechev/angularjs-style-guide#performance
                            .list-item
                                a(href="https://github.com/karlgoldstein/grunt-html2js", target="_blank") https://github.com/karlgoldstein/grunt-html2js
                            .list-item
                                a(href="https://github.com/fraserxu/gulp-html2js", target="_blank") https://github.com/fraserxu/gulp-html2js

                .card
                    .card__number 14
                    .card__title Is ngModelOptions used where possible?
                    .card__what
                        .list.list--what
                            .list-heading What?
                            .list-item Use <code>ngModelOptions</code> to manually control when <code>$digest</code> cycle should run
                    .card__why
                        .list.list--why
                            .list-heading Why?
                            .list-item To prevent unnecessary <code>$digest</code> cycles
                    .card__links
                        .list.list--links
                            .list-heading Links
                            .list-item
                                a(href="https://docs.angularjs.org/api/ng/directive/ngModelOptions", target="_blank") https://docs.angularjs.org/api/ng/directive/ngModelOptions
                            .list-item
                                a(href="https://toddmotto.com/super-fast-angular-ng-model-options-limit-digest-cycles/", target="_blank") https://toddmotto.com/super-fast-angular-ng-model-options-limit-digest-cycles/
                            .list-item
                                a(href="http://blog.thoughtram.io/angularjs/2014/10/19/exploring-angular-1.3-ng-model-options.html", target="_blank") http://blog.thoughtram.io/angularjs/2014/10/19/exploring-angular-1.3-ng-model-options.html
